.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    background-color: #fff;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 16px;
    margin-top: 22px;
    border-radius: 5px;
}

.image-container {
    display: flex;
    flex-direction: row;
    width: 220px;
}


